name: AutoDownloader
on:
  workflow_dispatch
  #pull
jobs:
  AutoDownloaderProcess:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.1.0
    - name: Enable BBR
      run: |

        sudo uname -a
        sudo lsmod
        sudo sysctl net.ipv4.tcp_congestion_control
        echo "net.core.default_qdisc=fq" | sudo tee -a /etc/sysctl.conf
        echo "net.ipv4.tcp_congestion_control=bbr" | sudo tee -a /etc/sysctl.conf
        sudo sysctl   -p
        sudo sysctl net.ipv4.tcp_congestion_control
        sudo lsmod
    - name: Rclone Install
      run: curl https://rclone.org/install.sh | sudo bash
    - name: Transmission-cli Install
      run: sudo apt install -y  transmission-cli
    - name: Inject Rclone&Transmission config
      run: |
        mkdir -p ~/.config/rclone/
        cat >  ~/.config/rclone/rclone.conf  << EOF
        ${{ secrets.RCLONE_CONF }}
        EOF
        mkdir -p ~/.config/transmission/
        wget https://raw.githubusercontent.com/wd1083786/rtorrent-rclone-download/main/settings.json -O ~/.config/transmission/settings.json

    - name: mkdir
      run: |
        sudo mkdir /root/downloads
    - name: transmission_Downloading_File
      run: |
         sudo transmission-cli "${{ secrets.URL}}"
        



    - name: Rclone Synchronizing file
      run: |
        sudo rclone copy /root/downloads ${{ secrets.D}} -P --bwlimit 20M


